<section id="inicio" class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        Potenciamos tu negocio con <span>Software a la medida</span>
      </h1>
      <p class="hero-description">
        Creamos páginas web y sistemas web personalizados que combinan diseño atractivo, alto rendimiento y
        funcionalidad inteligente. Llevamos tu <span>negocio</span> al siguiente nivel con tecnología moderna y soluciones
        escalables.
      </p>
      <div class="hero-buttons">
        <a href="#proyectos" class="btn btn-primary">Ver Proyectos</a>
        <a href="#contactanos" class="btn btn-outline">Cotizar</a>
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    padding: 5rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("public/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-content {
    position: relative;
    z-index: 10;
    max-width: 900px;
    margin: 0 auto;

  }

  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1.5rem;
    line-height: 1.2;
  }

  span { 
    font-weight: bold;
    color: var(--green-lemon);
  }

  .hero-description {
    font-size: 1.50rem;
    color: var(--white);
    margin-bottom: 2.5rem;
    line-height: 1.6;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    .hero {
      padding: 6rem 0;
      min-height: 70vh;
    }
    
    .hero-title {
      font-size: 2.25rem;
    }
    
    .hero-description {
      font-size: 1.125rem;
    }
    
    .hero-buttons {
      flex-direction: column;
      align-items: center;
    }
    
    .btn {
      width: 100%;
      max-width: 300px;
    }
  }
</style>