<div>
    <div>
        <h3>Contact us</h3>
        <form action="">
            <div>
                <div>
                    <label for="Name">Name</label>
                    <input type="text" />
                </div>
                <div>
                    <label for="Surnames">Surnames</label>
                    <input type="text" />
                </div>
            </div>
                <label for="Email">Email</label>
                <input type="text" />
                <label for="phone">Phone number</label>
                <input type="text" name="phone" />
                <label for="company">Name of Company</label>
                <input type="text" name="company" />
                <label for="options"></label>
                <select name="options" id="options"/>
                <label for="message"></label>
                <textarea name="message"/>
                <button>Submit</button>
            </div>
        </form>
    </div>
    <div></div>
</div>
