---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import ContactForm from './ContactForm/ContactForm.astro';
import Footer from './Footer/Footer.astro';

---

<div id="container">	
	<p>Welcome</p>
	<ContactForm/>

</div>

