---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Footer from './footer/Footer.astro';
---

<div id="container">	
	<p>Welcome</p>
	<Footer></Footer>
</div>

