---
import { Icon } from "astro-icon/components";
---

<footer class="footerContainer">
    <div class="imageSection">
        <div>
            <img
                class="hexalogicImage"
                src="../../../public/HLLogo.png"
                alt="Hexalogic"
            />
        </div>
        <div>
            <p>Comprometidos con usted y sus necesidades</p>
        </div>
    </div>
    <div class="infoSection">
        <ul class="list">
            <li><h2>Información</h2></li>
            <li><a href="">Inicio</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="">Proyectos</a></li>
            <li><a href="">Recursos</a></li>
            <li><a href="">Sobre nosotros</a></li>
            <li><a href="">Contáctanos</a></li>
        </ul>
    </div>
    <div class="contactSection">
        <ul class="list">
            <li><h2>Contacto</h2></li>
            <li>
                <Icon size={20} class="icon" name="whatsapp" /> +506 64779952
            </li>
            <li>
                <Icon size={20} class="icon" name="email" /><a
                    href="mailto:hexalogiccorp@gmail.com"
                    >hexalogiccorp@gmail.com</a>
            </li>
        </ul>
    </div>
</footer>

<style>
    .icon {
        margin-right: 15px;
    }
    .footerContainer {
        display: flex;
        justify-content: space-around;
        background-color: #5a7bbc;
        color: white;
        padding: 20px 0;
    }
    .imageSection {
        text-align: center;
    }
    .hexalogicImage {
        height: 150px;
        width: 120px;
    }

    .list {
        padding: 0;
        margin: 0;
    }
    
    .list li {
        margin: 10px 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    .list li a {
        text-decoration: none;
        color: white;
    }

    .list li a:hover {
        color: #859ed0;
    }

    @media (width < 547px) {
        .footerContainer {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
        
        .imageSection,
        .infoSection,
        .contactSection {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .list {
            text-align: center;
            width: 100%;
        }
        
        .list li {
            justify-content: center;
        }
        
        .list li h2 {
            margin-bottom: 10px;
        }
    }
</style>