

<footer>
    <div>
        <div>
            <img class="hexalogicImage" src="../../../public/HLogo.png" alt="Hexalogic">
        </div>
        <div>
            <p>Comprometidos con usted y sus necesidades</p>
        </div>
    </div>
    <div>
        <h4>Información</h4>
        <ul>
            <li>Inicio</li>
            <li>Servicios</li>
            <li>Proyectos</li>
            <li>Recursos</li>
            <li>Sobre nosotros</li>
            <li>Contáctanos</li>
        </ul>
    </div>
    <div>
        <h4>Contacto</h4>
        <ul>
            <li> +506 64779952</li>
            <li>hexalogiccorp@gmail.com</li>
            <li>
                <h4>Siguenos en: </h4>
                
            </li>
        </ul>
    </div>
</footer>