---
import AboutUs from "../components/AboutUs/AboutUs.astro";
import ContactForm from "../components/ContactForm/ContactForm.astro";
import Footer from "../components/footer/Footer.astro";
import HeroSection from "../components/HeroSection/HeroSection.astro";
import NavBar from "../components/NavBar/NavBar.astro";
import PortFolio from "../components/PortFolio/PortFolio.astro";
import Resources from "../components/ResourcesC/Resources.astro";
import Services from "../components/OurServices/Services.astro";

import "./index.css";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="author" content="Hexalogic" />
    <meta
      name="description"
      content="Hexalogic: Soluciones innovadoras en desarrollo de software a medida para empresas y emprendedores."
    />
    <meta name="category" content="Desarrollo de Software" />
    <meta property="og:title" content="Hexalogic - Desarrollo de Software" />
    <meta
      property="og:description"
      content="Creamos aplicaciones y soluciones digitales personalizadas, ayudando a empresas a potenciar su productividad e innovación."
    />
    <meta property="og:image" content="https://hexalogiccorp.com/ogImage.png" />
    <meta property="og:url" content="https://hexalogiccorp.com" />
    <meta property="og:type" content="website" />
  
    <meta name="generator" content={Astro.generator} />
    <title>HEXALOGIC</title>
  </head>
  <body>
    <NavBar />
    <HeroSection />
    <Services />
    <PortFolio />
    <AboutUs />
    <Resources />
    <ContactForm/>
    <Footer />
  </body>
</html>
