---
import AboutUs from "../components/AboutUs/AboutUs.astro";
import ContactForm from "../components/ContactForm/ContactForm.astro";
import Footer from "../components/footer/Footer.astro";
import HeroSection from "../components/HeroSection/HeroSection.astro";
import NavBar from "../components/NavBar/NavBar.astro";
import PortFolio from "../components/PortFolio/PortFolio.astro";
import Process from "../components/ProcesSection/Process.astro";
import Resources from "../components/ResourcesC/Resources.astro";
import Services from "../components/OurServices/Services.astro";

import "./index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>HEXALOGIC</title>
  </head>
  <body>
    <NavBar />
    <HeroSection />
    <Services />
    <Process />
    <PortFolio />
    <AboutUs />
    <Resources />
    <ContactForm />
    <Footer />
  </body>
</html>
